AppCC-back/Client/src/main/resources/wsdl/client.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://controllers.client.sgma.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ClientSoapControllerService" targetNamespace="http://controllers.client.sgma.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://controllers.client.sgma.com/" elementFormDefault="unqualified" targetNamespace="http://controllers.client.sgma.com/" version="1.0">
            <xs:element name="addClient" type="tns:addClient"/>
            <xs:element name="addClientResponse" type="tns:addClientResponse"/>
            <xs:element name="client" type="tns:client"/>
            <xs:element name="contract" type="tns:contract"/>
            <xs:element name="deleteClient" type="tns:deleteClient"/>
            <xs:element name="deleteClientResponse" type="tns:deleteClientResponse"/>
            <xs:element name="getAllClients" type="tns:getAllClients"/>
            <xs:element name="getAllClientsResponse" type="tns:getAllClientsResponse"/>
            <xs:element name="getClientById" type="tns:getClientById"/>
            <xs:element name="getClientByIdResponse" type="tns:getClientByIdResponse"/>
            <xs:element name="getContracts" type="tns:getContracts"/>
            <xs:element name="getContractsResponse" type="tns:getContractsResponse"/>
            <xs:element name="updateClient" type="tns:updateClient"/>
            <xs:element name="updateClientResponse" type="tns:updateClientResponse"/>
            <xs:complexType name="addClient">
                <xs:sequence>
                    <xs:element minOccurs="0" name="client" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="client">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="contracts" nillable="true" type="tns:contract"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="contract">
                <xs:sequence>
                    <xs:element name="duration" type="xs:int"/>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="type" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addClientResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteClient">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteClientResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="updateClient">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="client" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateClientResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getContracts">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getContractsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:contract"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getClientById">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getClientByIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAllClients">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllClientsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:client"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateClientResponse">
        <wsdl:part element="tns:updateClientResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addClientResponse">
        <wsdl:part element="tns:addClientResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getContractsResponse">
        <wsdl:part element="tns:getContractsResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addClient">
        <wsdl:part element="tns:addClient" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteClient">
        <wsdl:part element="tns:deleteClient" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateClient">
        <wsdl:part element="tns:updateClient" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getContracts">
        <wsdl:part element="tns:getContracts" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClientByIdResponse">
        <wsdl:part element="tns:getClientByIdResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteClientResponse">
        <wsdl:part element="tns:deleteClientResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClientById">
        <wsdl:part element="tns:getClientById" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllClientsResponse">
        <wsdl:part element="tns:getAllClientsResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllClients">
        <wsdl:part element="tns:getAllClients" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ClientSoapController">
        <wsdl:operation name="addClient">
            <wsdl:input message="tns:addClient" name="addClient"> </wsdl:input>
            <wsdl:output message="tns:addClientResponse" name="addClientResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteClient">
            <wsdl:input message="tns:deleteClient" name="deleteClient"> </wsdl:input>
            <wsdl:output message="tns:deleteClientResponse" name="deleteClientResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateClient">
            <wsdl:input message="tns:updateClient" name="updateClient"> </wsdl:input>
            <wsdl:output message="tns:updateClientResponse" name="updateClientResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getContracts">
            <wsdl:input message="tns:getContracts" name="getContracts"> </wsdl:input>
            <wsdl:output message="tns:getContractsResponse" name="getContractsResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClientById">
            <wsdl:input message="tns:getClientById" name="getClientById"> </wsdl:input>
            <wsdl:output message="tns:getClientByIdResponse" name="getClientByIdResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllClients">
            <wsdl:input message="tns:getAllClients" name="getAllClients"> </wsdl:input>
            <wsdl:output message="tns:getAllClientsResponse" name="getAllClientsResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClientSoapControllerServiceSoapBinding" type="tns:ClientSoapController">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addClient">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="addClient">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addClientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteClient">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="deleteClient">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteClientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateClient">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateClient">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateClientResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getContracts">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getContracts">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getContractsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClientById">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getClientById">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getClientByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllClients">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAllClients">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllClientsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClientSoapControllerService">
        <wsdl:port binding="tns:ClientSoapControllerServiceSoapBinding" name="ClientSoapControllerPort">
            <soap:address location="http://localhost:8084/services/ClientService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>