AppCC-back/Client/src/main/resources/wsdl/client.wsdl

<!--suppress ALL  Valid XML document must have a root tag-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://client.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://client.wsdl">
    <wsdl:types>
        <xsd:schema targetNamespace="http://client.wsdl">
            <xsd:element name="getHelloWorld">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getHelloWorldResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getHelloWorldRequest">
        <wsdl:part element="tns:getHelloWorld" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getHelloWorldResponse">
        <wsdl:part element="tns:getHelloWorldResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="ClientPortType">
        <wsdl:operation name="getHelloWorld">
            <wsdl:input message="tns:getHelloWorldRequest"/>
            <wsdl:output message="tns:getHelloWorldResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClientBinding" type="tns:ClientPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getHelloWorld">
            <soap:operation soapAction="http://client.wsdl/ClientPortType/getHelloWorld" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClientService">
        <wsdl:port binding="tns:ClientBinding" name="ClientPort">
            <soap:address location="http://localhost:8080/Client"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
